<div class="state-notate">
	<h1  class="state-notate__title">{{"Notes are removed from the trash after 7 days." | translate}}</h1>
	<div *ngIf="hs.userRemoveNotate.length" class="state-notate__button" (click)="ns.deleteAllNotate()">{{"Delete All" | translate}}</div>
</div>

<div *ngIf="hs.userRemoveNotate.length" class="main-notate">
	<ng-container *ngFor="let notate of hs.userRemoveNotate">
		<div class="notate">
			<div class="notate-block" (click)="hs.notateEdit(notate)">
				<!-- title -->
				<div class="notate__title" *ngIf="notate.title">
					{{notate.title}}
				</div>
				<!-- description -->
				<div class="notate__description">
					{{notate.description}}
				</div>
			</div>
			<!-- icon -->
			<div class="notate-settings">
				<div class="settings-items">
					<div [title]="'Delete' | translate" class="settings-items__item info" (click)="ns.deleteNotate(notate._id)">
						<img src="assets/main/trash/delete.svg" alt="">
					</div>
					<div [title]="'Reestablish' | translate" class="settings-items__item info" (click)="ns.removeNotate(notate)">
						<img src="assets/main/trash/reestablish.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</ng-container>

</div>

<div *ngIf="!hs.userRemoveNotate.length" class="wrapper">
	<div class="block">
		<div class="block-image">
			<img src="assets/main/trash/delete.svg" alt="">
		</div>
		<div class="block-text">
			{{"There is nothing in the trash can." | translate}}
		</div>
	</div>
</div>