<header class="content">
	<div class="content-burger">
		<button class="content-burger__button icon">
			<img src="assets/header/burger.svg" alt="Burger">
		</button>
		<a href="#" class="content-burger__logo">
			<img src="assets/header/logo.png" alt="Logo">
			<span>Keep</span>
		</a>
	</div>
	<div class="content-search">
		<form class="content-form">
			<button class="content-search__img content-search__start">
				<img src="assets/header/loop.svg" alt="">
			</button>
			<input class="content-search__input" type="text" placeholder="Search..">
			<button class="content-search__img content-search__end">
				<img src="assets/header/cross.svg" alt="">
			</button>
		</form>
		<!-- <div class="content-icons">
			<button class="bg-gray icon none"><img src="assets/header/ref.svg" alt=""></button>
			<button class="bg-gray icon none"><img src="assets/header/status.svg" alt=""></button>
			<button class="bg-gray icon none"><img src="assets/header/sett.svg" alt=""></button>
		</div> -->
		<select class="content-search__lang" (change)="changeLang($event.target)">
			<option value="en" [selected]="lang == 'en'">English</option>
			<option value="ukr" [selected]="lang == 'ukr'">Ukrainian</option>
		</select>
	</div>
	<div class="content-settings">
		<!-- <button class="bg-gray icon none"><img src="assets/header/service.svg" alt=""></button> -->
		<div>{{userName}}</div>
		<button class="bg-gray icon" (click)="modalChange()"><img src="assets/header/avatar.svg" alt=""></button>
	</div>
</header>