@import "../../../../media.scss";

.content {
	height: 100%;
}

.nav {
	position: relative;
	right: 1px;
	top: 0;
}

.nav-container {
	background-color: #fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: calc(100% - 65px);
	overflow: hidden;
	padding-top: 8px;
	position: fixed;
	top: 65px;
	transition-duration: 350ms;
	transition-property: width, box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	width: 80px;
	z-index: 3;
	&:hover {
		box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.14), 0 11px 18px 0 rgba(0, 0, 0, 0.12),
			0 13px 5px -1px rgba(0, 0, 0, 0.2);
		width: 280px;
		transition-delay: 350ms;
	}
	@include w_1350 {
		border-left: 1px solid #d5c4c4;
	}
}

.nav-list {
	flex: 1 0 auto;
}
// icon
.nav-list__icon {
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 0 25px 25px 0;
	color: #202124;
	display: flex;
	align-items: center;
	letter-spacing: 0.01785714em;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.25rem;
	height: 48px;
	min-width: 48px;
	overflow: hidden;
	width: 100%;
	transition-duration: 150ms;
	transition-property: margin, width, padding, border-radius;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	padding-left: 12px;
	&:hover {
		background-color: #f1f3f4;
	}
	img {
		fill: #5f6368;
		flex-shrink: 0;
		padding: 0 13px;
	}
	&.hover-color {
		background-color: #feefc3;
		img {
			fill: #202124;
		}
	}
}
.nav-container:hover .nav-list__icon {
	transition-delay: 350ms;
}
.nav-container:not(:hover) .nav-list__icon {
	border-radius: 50%;
	margin-left: 12px;
	padding: 0;
	width: 48px;
}

// span
.nav-list__text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 20px;
}
// license
.nav-license {
	flex: 0 0 auto;
	margin-bottom: 12px;
	margin-top: 20px;
	padding: 4px 0 6px 24px;
	visibility: hidden;
}

.nav-container:hover .nav-license {
	transition-delay: 350ms;
	transition-property: visibility;
	visibility: visible;
}
.nav-license__link {
	color: #5f6368;
	cursor: pointer;
	font-size: 12px;
	padding: 2px 5px;
	text-decoration: none;
	white-space: nowrap;
	&:hover {
		color: #202124;
	}
}
