<aside class="content">
	<nav class="nav">
		<div class="nav-container">
			<div class="nav-list">
				<div role="button" class="nav-list__icon" 
				[class.hover-color]="hs.tabShow == 'notate'"
				(click)="hs.changeTab('notate')">
					<img src="assets/aside/check.svg" alt="">
					<span class="nav-list__text"> {{"Notate" | translate}} </span>
				</div>
				<div role="button" class="nav-list__icon"
				[class.hover-color]="hs.tabShow == 'notifications'"
				(click)="hs.changeTab('notifications')">
					<img src="assets/aside/notification.svg" alt="">
					<span class="nav-list__text"> {{"Notifications" | translate}} </span>
				</div>
				<div role="button" class="nav-list__icon "
				[class.hover-color]="hs.tabShow == 'changes'"
				(click)="hs.changeTab('changes')">
					<img src="assets/aside/change.svg" alt="">
					<span class="nav-list__text ml-13">{{"Changes" | translate}} </span>
				</div>
				<div role="button" class="nav-list__icon"
				[class.hover-color]="hs.tabShow == 'archives'"
				(click)="hs.changeTab('archives')">
					<img src="assets/aside/archive.svg" alt="">
					<span class="nav-list__text"> {{"Archives" | translate}} </span>
				</div>
				<div role="button" class="nav-list__icon"
				[class.hover-color]="hs.tabShow == 'trash'"
				(click)="hs.changeTab('trash')">
					<img src="assets/aside/trash.svg" alt="">
					<span class="nav-list__text"> {{"Trash" | translate}} </span>
				</div>
			</div>
			<!-- <div class="nav-license">
				<a href="https://ssl.gstatic.com/keep/licenses/web_client_licenses.txt" target="_blank" class="nav-license__link" tabindex="0">Лицензии открытого ПО</a>
			</div> -->
		</div>
	</nav>
</aside>