<!-- modal -->
<app-loggout-modal *ngIf="hs.showLoggoutModal"></app-loggout-modal>
<!-- home page -->
<div class="wrapper">
	<div class="page">
		<div class="content">
			<!-- ? HEADER -->
			<home-header class="content-header" [userName]="myUser.name" [modal]="hs.showLoggoutModal"
				(showModalOutput)="hs.showLoggoutModal = $event"></home-header>
			<!-- ? SIDEBAR -->
			<home-sidebar class="content-aside"></home-sidebar>
			<!-- ?Main -->
			<home-main [title]="title" [description]="description" [userNotates]="hs.userNotates" [myUser]="myUser">
			</home-main>
		</div>
	</div>
</div>