<!-- modal -->
<app-loggout-modal *ngIf="hs.showLoggoutModal"></app-loggout-modal>
<!-- home page -->
<div class="wrapper" (click)="hs.clickOutside($event)">
	<div class="page">
		<div class="content">
			<!-- ? HEADER -->
			<home-header class="content-header" [userName]="hs.myUser.name" [modal]="hs.showLoggoutModal"
				(showModalOutput)="hs.showLoggoutModal = $event"></home-header>
			<!-- ? SIDEBAR -->
			<home-sidebar class="content-aside"></home-sidebar>
			<!-- ?Main -->
			<home-main class="content-main"></home-main>
		</div>
	</div>
</div>