@import "../../../scss/media.scss";

.vh-tablet {
	height: 100vh;
}
.image-width {
	@include w_991 {
		width: 50%;
	}
}

.sign-up {
	display: flex;
	align-items: center;
	margin-left: 15px;
}

@media (max-width: 991px) {
	.vh-tablet {
		padding: 20px 0;
	}
}
