@import '../../../scss/background-notate.scss';
@import '../../../scss/data-tooltip.scss';


// placeholder for title
[contenteditable="true"]:empty:not(:focus):before {
	content: attr(data-text);
}

:host {
	z-index: 4;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	background-color: rgba(32, 33, 36, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.edit {
	position: absolute;
	top: 10%;
}

.edit-content {
	padding-right: 1px;
	width: 600px;
	min-height: 180px;
	border-radius: 8px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 40px;
	box-shadow: 2px 4px 7px 4px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.edit-block {
	padding: 0 14px;
	max-height: 500px;
	overflow: auto;
	grid-row: 1/2;
}

.field {
	white-space: pre-wrap;
	&:last-child {
		margin-bottom: 30px;
	}
	&:focus-visible {
		outline: none;
	}
}

.edit-content__title {
	font-size: 22px;
	line-height: 1.75rem;
	letter-spacing: 1px;
	padding: 16px 0 12px;
	font-family: "Ubuntu", sans-serif;
}

.edit-content__description {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	letter-spacing: 0.00625em;
	line-height: 1.5rem;
	padding: 4px 0 12px;
}

// nav
.nav {
	display: flex;
	align-items: center;
	grid-row: 2/3;
	height: 40px;
	box-shadow: 0 -1px 6px rgb(0 0 0 / 20%);
	display: flex;
	justify-content: space-between;
}

// icon
.nav-items {
	flex: 1 0 auto;
	display: flex;
}
.nav-items__item {
	width: 34px;
	height: 34px;
}
.info {
	cursor: pointer;
	transition: 0.3s;
	margin: 0 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	&:hover {
		transition: 0.3s;
		opacity: 0.87;
		background-color: rgba(95, 99, 104, 0.157);
	}

	img {
		width: 20px;
	}
}

//button
.nav-close {
	cursor: pointer;
	margin-right: 10px;
	width: 80px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	&:hover {
		background-color: rgba(95, 99, 104, 0.039);
	}
	&:active {
		background-color: rgba(95, 99, 104, 0.161);
	}
}

.nav-close__text {
	
}
