<div class="edit">
	<div class="edit-content">

		<div class="edit-block">
			<!-- title -->
			<pre class="edit-content__title field" #topicTitle contenteditable="true" [textContent]="hs.notateInfo.title"
				(blur)="hs.notateInfo.title=topicTitle.innerText" data-text="Titile">
			</pre>

			<!-- description -->
			<pre class="edit-content__description field" #topicDescription contenteditable="true"
				[textContent]="hs.notateInfo.description" (blur)="hs.notateInfo.description=topicDescription.innerText"
				data-text="Note text">
			</pre>
		</div>


		<!-- close -->
		<div class="nav" (click)="hs.showEditModal = !hs.showEditModal; hs.updateNotate()">
			Close
		</div>
	</div>
</div>