<div class="edit" >
	<div class="edit-content">
		<!-- title -->
		<div>
			<mat-form-field class="main-write__field" appearance="fill">
				<textarea [(ngModel)]="hs.notateInfo.title" name="title" class="main-write__textarea" matInput cdkTextareaAutosize
					#autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
					cdkAutosizeMaxRows="26"></textarea>
			</mat-form-field>
		</div>
		<!-- description -->
		<div>
			<mat-form-field class="main-write__field" appearance="fill">
				<textarea class="main-write__textarea" [(ngModel)]="hs.notateInfo.description" name="description" value="" matInput
					cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
					cdkAutosizeMaxRows="26"></textarea>
			</mat-form-field>
		</div>

		<!-- close -->
		<div (click)="hs.showEditModal = !hs.showEditModal">Close</div>

	</div>
</div>