<div class="notate" [class.bg-0]="notate.background == 0" [class.bg-1]="notate.background == 1"
	[class.bg-2]="notate.background == 2" [class.bg-3]="notate.background == 3" [class.bg-4]="notate.background == 4"
	[class.bg-5]="notate.background == 5" [class.bg-6]="notate.background == 6">
	<div class="notate-block" (click)="hs.notateEdit(notate)">
		<!-- title -->
		<div class="notate__title" *ngIf="notate.title">
			{{notate.title}}
		</div>
		<!-- title -->
		<div class="notate__description">
			{{notate.description}}
		</div>
	</div>
	<!-- icon -->
	<div class="notate-settings">
		<div class="settings-items">
			<div [title]="'Notifications' | translate" class="settings-items__item info">
				<img src="assets/icon/notification.svg" alt="">
			</div>
			<div *ngIf="notate.fixed" [title]="'Unfixed' | translate" (click)="ns.fixedNotate(notate)"
				class="settings-items__item info">
				<img src="assets/icon/fixed.svg" alt="">
			</div>
			<div *ngIf="!notate.fixed" [title]="'Fixed' | translate" (click)="ns.fixedNotate(notate)"
				class="settings-items__item info">
				<img src="assets/icon/nofixed.svg" alt="">
			</div>
			<div [title]="'Palette' | translate" (click)="hs.mainChangeColor(notate)" class="settings-items__item info">
				<img src="assets/icon/palitra.svg" alt="">
			</div>
			<div [title]="'Trash' | translate" (click)="ns.removeNotate(notate)" class="settings-items__item info">
				<img src="assets/icon/trash.svg" alt="">
			</div>
		</div>
	</div>
</div>