<main class="content">
	<div class="main-block">
		<!-- !INPUT -->
		<div class="main-write">
			<div class="main-write__container" [class.writeNotate]="!hs.writing">
				<!-- title -->
				<div class="main-write__field ">
					<pre class="main-write__title pre-tag" #topicTitle contenteditable="true" [textContent]="hs.title"
						(blur)="hs.title=topicTitle.innerText" data-text="Title">
				</pre>
				</div>
				<!-- description -->
				<div class="main-write__field">
					<pre class="main-write__description pre-tag" #topicDescription contenteditable="true"
						[textContent]="hs.description" (blur)="hs.description=topicDescription.innerText"
						data-text="Note text..">
				</pre>
				</div>
			</div>
		</div>

		<!-- !BOX NOTATE -->
		<div class="main-notate notate">
			<div class="notate-item" (click)="hs.notateEdit(notate)" *ngFor="let notate of hs.userNotates">
				<div class="notate__scroll">
					<!-- title -->
					<div class="notate__title" *ngIf="notate.title">
						{{notate.title}}
					</div>
					<!-- title -->
					<div class="notate__description" >
						{{notate.description}}
					</div>
				</div>
				<div class="notate__settings">

				</div>
			</div>

		</div>
	</div>
</main>