@import "../../../../scss/media.scss";
@import "../../../../scss/background-notate.scss";

// placeholder for title
[contenteditable="true"]:empty:not(:focus):before {
	content: attr(data-text);
}

// page
.content {
	@include w_1350 {
		height: calc(100vh - 65px);
	}
}

.pre-tag {
	white-space: pre-wrap;
	margin: 0;
	padding: 10px 15px;
	&:focus-visible {
		outline: none;
	}
}

// !INPUT
.main-write {
	width: 100%;
	max-width: 600px;
	margin: 32px auto 32px;
	border: 1px solid #dedede;
	box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
	border-radius: 8px;
}
// textarea
.main-write__field {
	width: 100%;
	border-radius: 8px;
	min-height: 42px;
}
.main-write__title {
	font-family: "Ubuntu", sans-serif;
}
.main-write__description {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}

// !BOX NOTATE
.main-notate {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	flex-wrap: wrap-reverse;
	width: 1040px;
	margin: 0 auto 16px auto;
	& > .notate-item {
		direction: ltr;
	}
	&,
	& > .notate-item {
		transform: rotate(180deg);
	}
}

.notate-item {
	transition: 0.3s;
	position: relative;
	overflow: hidden;
	max-width: 240px;
	cursor: default;
	width: 100%;
	border-radius: 20px;
	border: 1px solid rgb(219, 218, 218);
	text-align: left;
	margin: 8px;
	color: #000;
	&:hover {
		transition: 0.3s;
		box-shadow: 1px 1px 5px 2px rgb(60 64 67 / 30%), 0 1px 1px 1px rgb(60 64 67 / 15%);
		.notate-settings {
			transition: 0.3s;
			max-height: 34px;
		}
	}
}

.notate-scroll {
	overflow: auto;
	padding: 10px 5px 40px 10px;
	max-height: 200px;
	min-height: 110px;
}

.notate__title {
	white-space: pre-wrap;
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 0 0 5px;
	letter-spacing: 1.5px;
}

.notate__description {
	white-space: pre-wrap;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}

// settings
.notate-settings {
	transition: 0.3s;
	position: absolute;
	bottom: 0px;
	max-height: 0.1px;
	height: 100%;
	width: 100%;
}
.settings-items {
	display: flex;
	justify-content: space-around;
}
.settings-items__item {
	width: 32px;
	height: 32px;
}
.info {
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	&:hover {
		transition: 0.3s;
		opacity: 0.87;
		background-color: rgba(95, 99, 104, 0.157);
	}

	img {
		width: 20px;
	}
}
//! dont up
.writeNotate {
	.main-write__field:first-child {
		display: none;
	}
	.settings-items {
		display: none;
	}
}
