<main class="content">
	<div class="main-block">
		<button (click)="createNotates()">create</button>
		<div class="main__write">
			<!-- title -->
			<input [(ngModel)]="title" name="title" type="text" placeholder="Title">
			<!-- description -->
			<!-- <div  [(ngModel)]="description" name="description" placeholder="Notate..." role="textbox" contenteditable="true" aria-multiline="true">Notate...</div> -->


			<mat-form-field appearance="fill">
				<textarea [(ngModel)]="description" name="description" placeholder="Notate..." matInput cdkTextareaAutosize
					#autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="26"></textarea>
			</mat-form-field>


			<!-- <textarea></textarea> -->
		</div>

		<div class="main__info">

			<div class="notate" *ngFor="let notate of userNotates">
				<div class="notate__title">{{notate.title}} </div>
				<div class="notate__description">{{notate.description}}</div>
			</div>
		</div>


	</div>
</main>