// background
.bg-0 {
	background-color: #fff;
	transition: 0.3s;
	border: 1px solid #dedede;
}
.bg-1 {
	border: 1px solid #f28b82;
	background-color: #f28b82;
	border-color: #f28b82;
	transition: 0.3s;
}
.bg-2 {
	border: 1px solid #fbbc04;
	background-color: #fbbc04;
	border-color: #fbbc04;
	transition: 0.3s;
}
.bg-3 {
	border: 1px solid #ccff90;
	background-color: #ccff90;
	border-color: #ccff90;
	transition: 0.3s;
}
.bg-4 {
	border: 1px solid #a7ffeb;
	background-color: #a7ffeb;
	border-color: #a7ffeb;
	transition: 0.3s;
}
.bg-5 {
	border: 1px solid #aecbfa;
	background-color: #aecbfa;
	border-color: #aecbfa;
	transition: 0.3s;
}
.bg-6 {
	border: 1px solid #fdcfe8;
	background-color: #fdcfe8;
	border-color: #fdcfe8;
	transition: 0.3s;
}