// background
.bg-0 {
	background-color: #fff;
}
.bg-1 {
	background-color: #f28b82;
	border-color: #f28b82;
}
.bg-2 {
	background-color: #fbbc04;
	border-color: #fbbc04;
}
.bg-3 {
	background-color: #ccff90;
	border-color: #ccff90;
}
.bg-4 {
	background-color: #a7ffeb;
	border-color: #a7ffeb;
}
.bg-5 {
	background-color: #aecbfa;
	border-color: #aecbfa;
}
.bg-6 {
	background-color: #fdcfe8;
	border-color: #fdcfe8;
}

// box-shadow
.b-sh-0 {
	box-shadow: 0px 0px 9px 10px #fffc;
}
.b-sh-1 {
	box-shadow: 0px 0px 9px 10px #f28b82;
	// background-color: #f28b82;
	// border-color: #f28b82;
}
.b-sh-2 {
	box-shadow: 0px 0px 9px 10px #fbbc04;

	// background-color: #fbbc04;
	// border-color: #fbbc04;
}
.b-sh-3 {
	box-shadow: 0px 0px 9px 10px #ccff90;

	// background-color: #ccff90;
	// border-color: #ccff90;
}
.b-sh-4 {
	box-shadow: 0px 0px 9px 10px #a7ffeb;

	// background-color: #a7ffeb;
	// border-color: #a7ffeb;
}
.b-sh-5 {
	box-shadow: 0px 0px 9px 10px #aecbfa;

	// background-color: #aecbfa;
	// border-color: #aecbfa;
}
.b-sh-6 {
	box-shadow: 0px 0px 9px 10px #fdcfe8;

	// background-color: #fdcfe8;
	// border-color: #fdcfe8;
}
